{{!-- SET UP TEMPLATE SO HANDLEBARS CAN RENDER INTO --}}
<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-item">
                    <p class="title is-5">
                        <strong>EAT - DA - BURGER</strong>
                    </p>
                </div>
            {{!-- LEFT SIDE --}}
            {{!-- <div class="level-left">
                <div class="level-item">
                    <p class="title is-5">
                        <strong>EAT - DA - BURGER</strong>
                    </p>
                </div>
            </div> --}}
            {{!-- TEXT BOX WITH SUBMIT BUTTON --}}
            <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" placeholder="Name a Burger"
                    </p>
                </div>
            </div>
        </nav>
    </div>
</section>

<footer></footer>

    {{!-- CREATE A BUTTON THAT WILL SUBMIT THE USER INPUT INTO THE DB --}}
    
